html,body{
	margin: 0px;
	padding: 0px;

}

body{
	background-color:#6B0951 ;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
	color: white;
}
.menu {
	text-align: right;
	background-color: ;
	color: white ;
	margin-top: 15px;
}
.menu ul{ 
	list-style: none; 
	padding-left: 0; 
	height: 50px;
	
}

.menu li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size:  20px;
	font-weight: 70;

	
}

.capa{
	color: white;
}


.capa div{
	display: inline-block;
	height: 650px;


}
.profile-pic{
	width: 40%;
	text-align: center;
}
.profile-pic img{
	width: 350px;
	border-radius:230px;
	margin-top: 100px;

}

.profile-text{
	background-color: ;
	vertical-align: top;
	width: 59%;
}
.profile-text h1{
	font-size: 58px;
	margin-top: 250px;
	font-weight: 400;
	line-height: 54px;
}


.menu-cardapio{
	
	height: 30px;
	font-size:25px;
	font-family: 'sans-serif';
	
}


.menu-cardapio h1{
	text-align: center;
	color:black;
	border:1px solid white;
	border-radius: 10px;
	font-family: 'Ibarra Real Nova', serif;
}

.capa-2{
	color:white;
}

.capa-2 div{
	display: inline-block;
	margin-top:80px;
	height: 650px;
}

.acai{
	width: 30%;
	margin-left: 10%;
	text-align: center;
}

.acai img{
	width: 250px;
	border-radius:130px;
	margin-left: -10px;
	margin-top: 80px;
}

.produto{
	vertical-align: top;
	width: 49%;
}

.produto h1{
	font-size: 20px;
	margin-top: 20px;
	font-weight: 400;
	line-height: 34px;
}

.produto h2{
	font-size: 20px;
	margin-top: 5px;
	font-weight: 400;
	line-height: 34px;
}
.produto h3{
	font-size: 30px;
	text-align: left;
	margin-top: 5px;
	font-weight: 400;
}