html,body{
	margin: 0px;
	padding: 0px;

}

body{
	background-color:#6B0951 ;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
	color: white;
}
.menu {
	text-align: right;
	color: white ;
}
.menu ul{
	margin-top: 10px; 
	list-style: none; 
	padding-left: 0; 
	height: 50px;
	
}

.menu li {
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 60px;
	font-size:  40px;
	font-weight: 80;
	
}

.capa{
	color: white;
}


.capa div{
	display: inline-block;
	height: 400px;


}
.profile-pic{
	width: 40%;
	text-align: center;
}
.profile-pic img{
	width: 250px;
	border-radius:230px;
	margin-top: 100px;
}

.profile-text{
	vertical-align: top;
	width: 59%;
}
.profile-text h1{
	font-size: 58px;
	margin-top: 200px;
	font-weight: 300;
	line-height: 24px;
}

.menu-cardapio{
	width: 80%;
	margin-left: 10%;
	height: 60px;
	font-size:30px;
	font-family: 'sans-serif';
	
}


.menu-cardapio h1{
	text-align: center;
	color:black;
	border:1px solid white;
	border-radius: 10px;
	font-family: 'Ibarra Real Nova', serif;
}

.capa-2{
	color:white;
}

.capa-2 div{
	display: inline-block;
	margin-top:40px;
	height: 325px;
}

.acai{
	width: 30%;
	margin-left: 6%;
	text-align: center;
}

.acai img{
	width: 250px;
	border-radius:130px;
	margin-top: 140px;
}

.produto{
	vertical-align: top;
	width: 55%;

}

.produto h1{
	font-size: 20px;
	margin-top: 10px;
	font-weight: 400;
	line-height: 24px;

}

.produto h2{
	font-size: 20px;
	margin-top: 5px;
	font-weight: 400;
	line-height: 24px;
}
.produto h3{
	font-size: 30px;
	text-align: left;
	margin-top: 5px;
	font-weight: 400;
}